grafana.codedang.com {
	log {
		format console
		level info
	}

	handle /alertmanager-console* {
		uri strip_prefix /alertmanager-console
		reverse_proxy alertmanager:9093 # includes console
	}

	handle {
		reverse_proxy grafana:3000
	}
}
