grafana.codedang.com {
	handle /lokiaws/* {
		uri strip_prefix /lokiaws
		reverse_proxy 127.0.0.1:3100
	}

	handle /lokitest/* {
		uri strip_prefix /lokitest
		reverse_proxy 127.0.0.1:3199
	}

	handle {
		reverse_proxy 127.0.0.1:3000
	}
}